@font-face {
    font-family: '0xProto';
    src: url('0xProto-Regular.ttf') format('truetype');
}

Body {
    background-color: #d4d4d4;
    color: #2d2d2d;
    font-family: '0xProto';
    text-align: left;
}