Body {
    background-color: #211414;
    color: #cfaeae;
    font-family: '0xProto-Regular.ttf';
    text-align: center;
}

h3 {
    font-family: 'Pixelpurl.ttf'; 
}

h2 {
    font-family: '0xProto-Regular.ttf';
    font-size: 25px;
}