Body {
    background-color: #d4d4d4;
    color: #2d2d2d;
    font-family: '0xProto-Regular.ttf';
    text-align: center;
}

h3 {
    font-family: 'Pixelpurl.ttf'; 
}

h2 {
    font-family: '0xProto-Regular.ttf';
    font-size: 25px;
}