@font-face {
    font-family: '0xProto';
    src: url('../Main-Resources/fonts/0xProto-Regular.otf') format('truetype');
}


body {
    min-height: 100vh;
    color: #f57e00;
    font-family: '0xProto', monospace;
    text-align: center;
    background-image: url('../Main-Resources/Wallpaper/90b443420d67456558430316e2438899-1543757401.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h3 {
    font-size: clamp(15px, 2vw, 20px);
    font-family: '0xProto';
    color: #f57e00;
}

h2 {
    color: #f57e00;
    font-family: '0xProto';
    font-size: 25px;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #ffa600 #929191;
}

html::-webkit-scrollbar
{
 width: 2vw;
}

#support{
    color: #f57e00;
    font-family: '0xProto';
    font-size: 50px;
    margin-bottom: 30px;
}

#description{
    color: #f57e00;
    font-family: '0xProto';
    font-size: px;
    margin-top: 35px;
}

#btc{
    color: #f57e00;
    font-family: '0xProto';
    font-size: 40px;
    margin-top: 30px;
}

#bch{
    color: #f57e00;
    font-family: '0xProto';
    font-size: 40px;
    margin-top: 35px;
}

#eth{
    color: #f57e00;
    font-family: '0xProto';
    font-size: 40px;
    margin-top: 35px;
}

#xmr{
    color: #f57e00;
    font-family: '0xProto';
    font-size: 40px;
    margin-top: 35px;
}

#ltc{
    color: #f57e00;
    font-family: '0xProto';
    font-size: 40px;
    margin-top: 35px;
}

#zec{
    color: #f57e00;
    font-family: '0xProto';
    font-size: 40px;
    margin-top: 35px;
}

#doge{
    color: #f57e00;
    font-family: '0xProto';
    font-size: 40px;
    margin-top: 35px;
}

#zano{
    color: #f57e00;
    font-family: '0xProto';
    font-size: 40px;
    margin-top: 35px;
}

p{
    color: #f57e00;
    font-family: '0xProto';
    font-size: 35px;
}

#description{
    color: #f57e00;
    font-family: '0xProto';
    font-size: 45px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}