@font-face {
    font-family: '0xProto';
    src: url('../Main-Resources/fonts/0xProto-Regular.otf') format('truetype');
}

Body {
    font-family: '0xProto';
    background-image: url('../Main-Resources/Wallpaper/artistic-pixel-art-hd-space.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover; 
    
   
}

h1 {
    font-size: clamp(15px, 2vw, 20px);
    color: #00c3ff;
    font-family: '0xProto';
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    size: 150%;
}

#arc{
   margin-bottom: 2vw;
   margin-left: 2vw;
   size: 50%;
}

#ddg{
   margin-top: 2vw;
   margin-left: 2vw;
   size: 50%;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #00c3ff #929191;
    scrollbar-width: 50px;
}